@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200&display=swap');


*{
    font-family: 'Poppins', sans-serif;
   
    text-align: center;
}


.noteCard .card-title{
    font-weight: bold;
    border-bottom: 0.1px dotted black;
}

h2{
    padding: 2rem;
    margin: 2rem;
}

.noteCard{
  border: 1.5px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
}

#date{
    position: absolute;
    bottom: 0;
    padding: 0.5rem;
    font-size: 0.7rem;
}